# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binary file
exam

# LLDB files
exam.dSYM

# Spotlight
.DS_Store

# Visual Studio bin and temporaries
UI/Debug/*
UI/UI/Debug/*
*.opensdf
